.v-btn--active {
	background-color: black;
}
.v-btn--active .v-btn__content {
	color: white;
}
.v-btn-group {
  border-color: black;
}

.v-picker-title {
	font-size: 1rem;
}


*::-webkit-scrollbar {
	width: 6px;
}
*::-webkit-scrollbar-thumb {
	background-color: #4a4a4a;
	border-radius: 10px;
	background-clip: padding-box;
	border: 1px solid transparent;
}
*::-webkit-scrollbar-track {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

